node_modules
.git
.DS_Store
*.local
copilot-messages.log
.vscode
.github
*.zip
*.rar
*.7z
*.tar
*.tar.gz
*.tar.bz2
*.tar.xz
*.gz
*.bz2
*.xz
*.exe
*.msi
*.bat
*.cmd
*.com
*.scr
*.dll
*.dmg
*.pkg
*.iso
*.img
*.vhd
*.vmdk
