@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Outfit", ui-sans-serif, system-ui, sans-serif;
  
  --color-surf-cyan: #06b6d4;
  --color-surf-blue: #3b82f6;
  --color-surf-dark: #050505;
  
  --color-neon-cyan: #00ffff;
  --color-neon-pink: #ff0080;
  --color-neon-green: #39ff14;
  --color-neon-purple: #7b2ff7;
}
