
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
html, body {
  margin: 0;
  padding: 0;
  background: radial-gradient(circle at 20% 20%, #001a1a, #000);
  color: white;
  font-family: Inter, sans-serif;
}